@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color-primary: #00c8ff;
	--color-accent: #ff5a33;
	--color-destructive: #ff3b5c;
	--color-secondary: #8b9db4;
	--color-success: #31d39a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
